* { /* RESET */
    vertical-align: baseline;
    font-weight: bold;
    font-family: Verdana, Helvetica, sans-serif;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    color: #fff;
}

/* HEADER */

#header-container {
    display: block;
    padding: 20px;
    border-bottom: #fff solid 3px;
}

#title {
    display: inline-block;
    font-size: 200%;
    margin: 10px;
    flex-grow: 1;
}

#header-nav {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    align-items: inherit;
}

.nav {
    display: inline-block;
    font-size: 200%;
    margin: 10px;
}

.nav::after { 
    content: "";
    clear: both;
    display: table;
}

/* CONTENT */

body {
    background-color: rgb(25, 25, 25);
}

#plans-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
}

.plan {
    display: inline-block;
    padding: 17px;
    border: #fff solid 3px;
    margin: 20px;
    width: 300px;
    text-align: left;
    vertical-align: top;
}

.plan-title {
    font-size: 150%;
    margin-bottom: 10px;
}

.plan-content {
    margin-bottom: 10px;
    font-weight: normal;
}

.plan-button {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: rgb(25, 25, 25);
}

.plan-button:hover {
    background-color: rgb(15, 15, 15);
    border: #fff solid 3px;
}

.plan-button:active {
    background-color: rgb(25, 25, 25);
    border: #fff solid 3px;
}
